// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.navbar-username {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}